
@font-face {
    font-family: SegoeUI;
    src: url("./assets/SEGOEUI.TTF");
}
  
body{
  font-family: SegoeUI !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}
h1,h2{
  font-weight: 900 !important;
}
.header-logo-wallet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
}
.logo{
  font-size: 64px;
}
.wallet>a>div, .wallet>div{
  display: flex;
  align-items: center;
  padding: 10px;
}
.wallet .ant-card-meta-title{
 font-size: 15px;
}
.center-cont {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.center-cont > div{
  text-align: center;
  padding-top: 80px;
  margin-left: 20%;
  margin-right: 20%;
}

.center-cont h2{
  background: linear-gradient(135deg, #CB5EEE 0%, #4BE1EC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 40px;
    font-weight: 800;
}
.center-cont h4{
  color: #fff;
  font-size: 20px;
  padding-top: 50px;
}
.center-child {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.connect-btn{
  height: 64px !important;
  width: 250px;
}
.connect-btn>span{
  font-size: 22px;
}

.switchNetwork{
  min-height: 100vh;
  text-align: center;
  padding-top: 180px;
}

.switchNetwork h2{
  background: linear-gradient(135deg, #2F80ED 0%, #B2FFDA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.header-logo-wallet .logo {
  font-size: 30px;
  font-weight: 900 !important;
  background: linear-gradient(135deg, #FFCC33 0%, #E233FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.header-logo-wallet .wallet .ant-card{
  height: 55px;
  background: linear-gradient(135deg, #2F80ED 0%, #B2FFDA 100%);
    border: none;
    border-radius: 100px;
}
.header-logo-wallet .wallet .ant-card .ant-card-cover{
  padding-left: 8px;
}
.header-logo-wallet .wallet .ant-card .ant-card-body{
  padding: 10px;
  padding-left: 12px;
  font-weight: 600;
  font-size: 14px;
}
.header-logo-wallet .wallet .ant-card .ant-card-cover>div{
  height: 25px !important;
}
.App,.ant-layout,.ant-layout-footer{
  background:#001529 !important;
  color: #fff !important;
}
.center-child .ant-btn-primary,
.switchNetwork .ant-btn-primary{
  background: linear-gradient(163deg, #2F80ED 0%, #B2FFDA 100%);
  font-weight: 600;
  color: unset;
}
.nft-wrapper{
  color: white;
  padding-left: 20px;
  min-height: 100vh;
}
.nft-wrapper .ant-form-item-label > label,
.nft-wrapper .ant-form-item-label > label .ant-form-item-tooltip,
.nft-wrapper .ant-form-item{
  color:white !important;
}
.nft-wrapper .ant-image{
  width: 200px;
    padding: 10px;
}
.nft-wrapper .ant-spin{
  width: 100% !important;
  text-align: center;
}
.nft-wrapper>div>img{
  border-radius: 10px;
}
.nft-wrapper .NoNft,
 .container .NoNft{
  text-align: center;
  width: 100%;
  padding-top: 80px;
  color: white;
  font-size: 25px;
  background: linear-gradient(135deg, #2F80ED 0%, #B2FFDA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
} 
.buttonSection {
  display: flex;
}
.buttonSection div {
  margin-left: 25px;
  margin-bottom: 25px;
}
.nft-wrapper>.ant-form{
  margin-top:60px;
}
.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected {
  color: #1890ff !important;
}
.profile-wrapper{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profile-wrapper .ant-card{
  margin-left: 20px;
  margin-bottom: 20px;
}
.link-class{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 439px;
}
.editButton{
  right: 0px;
  position: absolute;
  z-index: 2;
}
.buttonList{
  display: flex;
  justify-content: flex-end;
}
.buttonList div{
  margin-right: 20px;
}
.ant-modal-footer{
  display: none !important;
}

.showProfileDiv .spinnerWrapper {
  position: fixed !important;
  z-index: 1002;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
.spinnerWrapper .ant-spin.ant-spin-spinning{
  position: absolute;
  left: 50%;
  top: 50%;
} 
.ant-card-meta-description{
  height: 66px;
}

/* .ant-list-item-meta-description,
.ant-list-item, */
.color-white,
h5.color-white{
  color: #fff !important;
}
.ant-list-item-meta-description{
  color: rgb(0 21 41) !important;
  font-size: 15px !important;
  line-height: 1.6 !important;
}
.profile-wrapper  .ant-card-cover{
  height: 250px !important;
}
.ant-list-item-meta-title > a{
  font-size: 18px;
    font-weight: 900 !important;
    background: linear-gradient(135deg, #FFCC33 0%, #E233FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
.headline-txt{

  background: linear-gradient(135deg, #2F80ED 0%, #B2FFDA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
.sp-bg{
  background: #001529;
}
.ant-list-pagination{
  margin-bottom: 24px;
}
.flex-comments{
  display: flex;
    justify-content: space-between;
    color: #1890ff;
}
.flex-comments div,.followers,.following{
  cursor: pointer !important;
}

@media screen and (max-width:780px){
  .header-logo-wallet{
    flex-direction: column;
  }
  .wallet{
    padding-top: 30px;
  }
  .center-cont{
    padding-top: 100px;
    min-height: 100vh;
  }
  .center-cont > div{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
  }
  .center-cont h2{
    font-size: 30px;
  }
  .center-cont h4{
    padding-top: 10px;
  }
  .ant-layout-sider {
    position: fixed !important;
    z-index: 999 !important;
    min-height: 100vh !important;
  }
  .ant-layout-has-sider{
    position: relative;
  }
  .ant-layout-sider-trigger{
    position: absolute !important;
  }
  .profile-wrapper{
    padding-left: 80px;
    padding-top: 100px;
  }
  .profile-wrapper.ppl{
    padding-left: 10px !important;
    padding-top: 10px !important;
  }
  .showProfileDiv{
    padding-left: 40px;
    padding-top: 100px;
  }
  .nft-wrapper>.ant-form {
    margin-top: 130px;
  }
  .u-mt-100{
    margin-top:100px;
    margin-left:75px;
    }
  .u-mt-40{
    margin-top:100px;
    margin-left:40px;
    }
}








